# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
out/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore user-specific files
.idea/
.vscode/
.DS_Store

# Ignore compiled TypeScript files
*.js
*.js.map

# Ignore package-lock.json
package-lock.json

# Ignore backup files
*~
